<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYearOfRelease()}"/>
<div th:if="${person.getPersonId()==0}">
    <p>Эта книга свободна. Кому её передать?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/person(id=${book.getBookId()})}">
        <label for="person">Выберите читателя: </label>
        <select th:object="${person}" th:field="*{personId}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getName()}">person name</option>
        </select>
        <input type="submit" value="Выбрать читателя"/>
    </form>
</div>
<div th:unless="${person.getPersonId()==0}">
    <p th:text="${'Книга сейчас у: ' + person.getName()}">Person</p>
    <form th:method="PATCH" th:action="@{/books/{id}/remove/person(id=${book.getBookId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>